/* Reset */
*{
    margin: auto;
    box-sizing: border-box;
    margin: 0;
    background-color: #F6F8F9;
    font-family: sans-serif;

}

/* Header */
header div{
    background-image: url(../img/Logo.png);
    width: 50px;
    margin-left: 10px;
}

header{
    background-color: white;
    margin-bottom: 20px;
}

header div h1{
    margin-left: 60px;
    font-weight: 1000;
    color: #041931;
}

/* Main */

.contenitore1{
    width: 80%;
    background-color: white;
    margin: auto;
    border-radius: 5%;
    padding-top: 20px;
    padding-left: 20px;
    margin-bottom: 1px;
}

main div div{
    color: white;
    border-radius: 40px;
    text-align: center;
    display: inline-block;
    background-color: white;
    padding: 5px;
}

main section{
    background-color: white;
    margin-bottom: 20px;
}

div div{
    margin-bottom: 10px;

}

main span{
    background-color: white;
}

main strong{
background-color: white;
font-weight: ;
}



.addtask{
    width: 90px;
    background-color: #47ADF1;
    display: inline-block;
}

.addsection{
    width: 120px;
    background-color: #FFFFFF;
    display: inline-block;
    border: solid lightgray;
    color: lightgray;
}


.contenitore2{
    width: 80%;
    background-color: white;
    margin: auto;
    border-radius: 1%;
    padding: 30px;
    margin-top: 1px;
}

.editorial{
    width: 90px;
    background-color: #47ADF1;
    display: inline-block;
}

.check{
    color: #97D7C9;
    border-color: #97D7C9;
    border: solid;
    border-radius: 50%;
    padding-left: 8px;
    padding-right: 8px;
}

.cross{
    color: #EE7F7A;
    border-color: #EE7F7A;
    border: solid;
    border-radius: 50%;
    padding-left: 8px;
    padding-right: 8px;
}


